<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dolores ea, eius error harum hic ipsa, ipsum
        libero placeat praesentium recusandae tempore totam voluptas voluptate voluptates! A alias placeat totam.</p>

    <button type="button">Button</button>

    <br>
    <br>

    <input type="text" name="inputOne" placeholder="Place...">
    <input type="text" name="inputTwo" placeholder="Holder...">
    <button id="submitButton" type="submit">Submit</button>

    <br>
    <br>

    <a href="#" id="myA" hreflang="sv" target="_blank">AnchorTag</a>
    <button name="anchorBtn">Button</button>

    <script src="../scripts/index.js"></script>
</body>
</html>